@import url('https://fonts.googleapis.com/css2?family=Arvo&family=PT+Serif:wght@400;700&display=swap');

$font: 'PT Serif', serif;;
$h-font: 'Arvo', serif;;
$font-weight: 0.75em;

$font-color: #CCC;
$background-color: #121212;
$background-alternative-color: #333;
$footer-border-top: #CCC;
$nav-hoover-color: #FA6501;
$nav-active-color: #C76728;
$text-shadow: #CCC;

$logo-filter: grayscale(95%);
$minbild-filter: brightness(.8) contrast(1.2);