@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,500&family=Roboto&display=swap');

$font: 'Roboto', sans-serif;;
$h-font: 'Open Sans', sans-serif;
$font-weight: 1em;

$font-color: #333;
$background-color: #f5f5f5;
$background-alternative-color: #ffe4c4;
$footer-border-top: #7699AA;
$nav-hoover-color: #C4ECFF;
$nav-active-color: #806544;
$text-shadow: #00000080;

$logo-filter: brightness(2);
$minbild-filter: brightness(1) contrast(1);